<h1>Application</h1>

{{!--Short hand--}}
{{link-to "Home" "index"}}

{{!--Expanded hand--}}
{{#link-to "about"}}
  About
{{/link-to}}

<br><br>

{{x-counter}}<br>
{{x-counter}}<br>
{{x-counter number=42}}<br>
{{#x-counter}}
  This is some text<br><br>
  {{x-counter number=10}}<br>
{{/x-counter}}

<h1>Counter</h1>
{{x-alert handleClick=(action 'doAlert')}}
{{x-alert handleClick=(action 'doAlertOkay') message="Yo yo you"}}
{{x-alert handleClick=(action 'doAlertOkay') message="Somethings?"}}

{{outlet}}